/*
	Theme Name: DDCA Bare Bones
	Theme URI: 
	Description: A lightweight boilerplate for new theme builds!
	Version: 0.3
	Author: Adam Perlmutter and Larry Chavez
    Text Domain: ddcabarebones
	Author URI: 
	Tags: 
	License: 
	License URI: 
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/




/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 1.2em/1.33333em 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444;
}
/* clear */
.group:before,
.group:after {
    content:' ';
    display:table;
}

.group:after {
    clear:both;
}
.group {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/*Sticky Footer */
html {
	overflow-y: scroll;
	height: 100%;
}
body {
	height: 100vh;
	min-height: 100%;
	display:-webkit-flex;
	display: flex;
	flex-direction: column;	

}
.wrapper {
	flex: 1;
   -ms-flex: 1 0 auto;
	
}


/* wrapper */
.wrapper {
	/*max-width:1280px;*/
    max-width: 980px;
	width:95%;
	margin:0 auto;
	position:relative;
}
/* header */
.header {
	position:relative;
}

.hot-bar-container > div {
	float: left;
}
.hot-bar-container > p {
	float: right;
}
.mobile-nav-btn {
    display: none;
}

/* logo */
.logo {
	width:31%;
	display:inline-block;
	margin-right:3%;
}
.logo-img {

}
/* nav */
.header nav {
	width: 65%;
	display: inline-block;

}
	.header nav ul {
		list-style:none;
		padding-left:0;
		display: flex;
		-webkit-display: flex;;
		flex-wrap: nowrap;
		justify-content: space-between;

	}
		.header nav>ul>li {
			float:left;
			position:relative;
		}
			.header nav>ul>li ul {
				position: absolute;
				left: -9999px;
				overflow: hidden;
			}
			.header nav>ul>li:hover ul {
				left:0;
				z-index: 999;
				display: block;
				width: 200px;
			}
				.header nav>ul>li:hover ul li {
					display: block;
					padding: 5px 0;
				}

header .login-form {
	position: absolute;
	top: 25px;
	right: 0;
	background-color:#fff;
	display: none;
    z-index: 9999;
}
    header .login-form label {
		width: 200px;
		display: block;
	}
    header .login-form input{
		display: block;
	}

.wrapper main {
	clear: both;
}


/* sidebar */
.sidebar {

}
/* footer */
.footer {
    max-width: 980px;
	width:95%;
	margin:1em auto;
}

	.footer section >div {
		width: 50%;
		float: left;
	}
		.footer section div+div {
			float: right;
			text-align: right;
		}
			.footer section div ul {
				padding-left: 0;
				list-style: none;
				margin: 0;
			}
				.footer section div ul li {
					display: inline-block;
				}
/*------------------------------------*\
    Global 
\*------------------------------------*/

input[type=submit] {
    clear: left;
	display: block;
}

label {
	min-width: 100px;
	display:inline-block;
}

label.error {
	clear: both;
	color:#9c0033;
	display: block;
}

textarea{
    resize:vertical;
	width: 300px;
}


.tabs-container {
    position: relative;    
}
    ul.tabs {
        list-style: none;
        padding-left: 0;
    }
        ul.tabs li {
            padding: .5em;
            float: left;
            outline: 1px solid #000;
        }
/*
.tabs-content{
      display: none;
      clear: both;
      transition: opacity 1s ease-out;
      opacity: 0;
      float: left;

  }
  .tabs-content:target{
      display:block;
      opacity:1;
      z-index: 999;
  }
/*  .tabs-content:not(:target){
      display:none;
  }
  ul +.tabs-content{
      display:block;
      opacity:1;
  }

*/

/* following 3 styles must be in this particular order*/
.tablet-hidden {
    display: block;
}
.phone-hidden {
    display: block;
}
.desktop-hidden {
    display: none;
}


/* Assistive text */
.assistive-text {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}
a.assistive-text:active,
a.assistive-text:focus{
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
	z-index: 100000; /* Above WP toolbar */
}


/*------------------------------------*\
    PAGES
\*------------------------------------*/

.home .carousel-container-wrapper {
	position:relative;
}
	.home .owl-item .item {
		position: relative;
	}
		.home .owl-item .item > div {
			position: absolute;
			bottom:0;

		}
	.home .actions-container {
		position: absolute;
		right:0;
		top:0;
		z-index: 999;
		background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
		padding: 5px;
		height: 100%;
	}
		.home .actions-container ul {
			padding-left: 0;
			list-style: none;
		}
.home .callouts-container> div {
	width: 33.333%;
	width: calc( (100% / 3) - 1px);
	float: left;
}
.home .callouts-container> div img + span {
	clear: both;
	display: block;
}


.home .tabbed-feeds-wrapper {
	float: left;
	width: 66.666666666%;
	width: calc(100% * 2/3);
}

.home .sidebar-callouts-container {
	float: left;
	width: 33.333333%;
	width: calc(100% * 1/3);
}
	.home .sidebar-callouts-container ul {
		list-style: none;
		padding-left: 0;

	}

.committeesearch .page-selection{
	text-align: center;
}
	.committeesearch ul.pagination {
		list-style: none;
		padding-left: 0;
	}
		.committeesearch ul.pagination li {
			display: inline-block;
		}
		.committeesearch ul.pagination .prev {
			float: left;
		}
		.committeesearch ul.pagination .next {
			float: right;
		}

.committeesearch .committee-roster {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left:0;
    
}

    .committeesearch .committee-roster li {
        width: 20%;    
        padding:15px;
		min-width: 140px;

    }

		.committeesearch .committee-roster li a {
			display: block;
		}
		.committeesearch .committee-roster li img {
			width: auto;
			min-width: 110px;

		}
.composeletters textarea {
    height: 200px;
}

.composeletters .targets {
    list-style: none;
    padding-left: 0;
}

.compose-tweets .tweet-section,
.compose-tweets .recipients {
    float:left;
    width: 50%;
}

.compose-tweets textarea,
.compose-tweets textarea + span{
    clear:left;
    display: block;
}
.composeletters .restore-tweet-text {
    cursor: pointer;

}

.compose-tweets .targets li {
    clear: left;
}
    .compose-tweets .targets li div {
        float: left;

    }
        .compose-tweets .targets .photo img {
            height: auto;
            max-width: 31px;
        }
    .compose-tweets .targets .popup-disabled {
        cursor: not-allowed;
    }

.my-legislators ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left:0;
}
    .my-legislators ul li {
        width: 20%;    
        padding:15px;
		position: relative;

    }

    .my-legislators ul li a {
        display: block;
    }

.key-contact-link {
	position: relative;
	bottom: 2px;
	left: 15px;
	display: block;
	width: 39px;
	height: 39px;
	background: transparent url("./img/ico-legislator-key-contact.png") no-repeat top left;
	text-indent: -9999px;
}


.js .legislatorsearch .search-additional-fields{
	display: none;
}

.legislatorsearch .results ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
}
	.legislatorsearch .results h3 {
		clear: both;
		display: block;
		width: 100%;
	}
	.legislatorsearch .results li {
		width: 16.66666666666667%;
		width: calc(100%/6);
        margin-bottom: 15px;
	}
        .legislatorsearch .results li a.list-button-link {
            width: 75%;
            display:inline-block;
        }

.legislator-detail .contact-info>img,
.legislator-detail .cap-address,
.legislator-detail .dist-address {
    float: left;
    padding-right: 5px;
}
.legislator-detail .contact-info ul {
	list-style: none outside none;
	margin-top: 15px;
	width: 147px;
	float: left;
	padding-left: 0;
    clear:left;
}
	.legislator-detail .contact-info ul li {
		float: left;
		margin-right: 10px;
	}

		.legislator-detail .contact-info .email-me-label,
		.legislator-detail .contact-info .my-website-label,
		.legislator-detail .contact-info .key-contact-label{
			display: none;
		}
			.legislator-detail .contact-info .email-me-image,
			.legislator-detail .contact-info .my-website-image,
			.legislator-detail .contact-info .key-contact-image{
				display: block;
				height: 39px;
				width: 39px;
			}
				.legislator-detail .contact-info .email-me-image {
					background: url(./img/ico-legislator-email.png) no-repeat left;
				}

				.legislator-detail .contact-info .my-website-image {
					background: url(./img/ico-legislator-website.png) no-repeat left;
				}

				.legislator-detail .contact-info .key-contact-image {
					background: url(./img/ico-legislator-key-contact.png) no-repeat left;
				}

	.legislator-detail .education table {
		clear: both;
		width: 100%;
	}

		.legislator-detail .education table tr th {
			color: #174560;
			font-weight: bold;
			text-align: left;
		}

.scorecard-bill {
	margin: 20px 0 0;
	padding: 20px 0 0;
}
	.scorecard-bill:first-child {
		margin: 0;
		padding: 0;
	}
	.scorecard-bill > h5 {
		float: left;
		margin: 0 5px 0 0;
	}
	.scorecard-info {
		margin: 10px 0;
	}
		.scorecard-info span {
			display: block;
			float: left;
			width: 125px;
		}
		.scorecard-info img {
			vertical-align: middle;
		}
	.scorecard-bill h5 a {
		background: url(./img/ico-scorecard-arrow-closed.png) no-repeat left;
		padding: 0 0 0 12px;
		color: #174560;
	}
		.scorecard-bill h5 a:hover {
			text-decoration: none;
		}

	.scorecard-bill .desc-open {
		background: url(./img/ico-scorecard-arrow-open.png) no-repeat left;
	}

	.scorecard-bill .scorecard-desc {
		clear: both;
		display: none;
		padding-top: 5px;
        transition: all 2s;
	}

.tellafriend label[for="ToEmail"]+ div {
    clear: left;
}
.tellafriend label{
    display: block;
}
.tellafriend label[for="Subject"],
.tellafriend label[for="Body"]{
    display: block;
    clear: left;
    float: none;
}
.tellafriend textarea {
    height: 10em;
    clear: left;
    display: block;
}

.captcha-button a img {
	background-color: rgb(5, 100, 255);
	border-color: rgb(1, 90, 170);
	border-radius: 50%;
	float: left;
	height: 17px;
	margin: 0 0.2em;
	width: 25px;
}
.captcha-response-field {
	clear: left;
	display: block;
}

/* Modal plugin
============================================================================================== */

.simplemodal-overlay {
	background: #000;
	z-index: 30000;
}
.simplemodal-container {
	background: #fff;
	-moz-border-radius: 10px;
		 border-radius: 10px;
}
.modalCloseImg {
	background: url(./img/btn-modal-close.png) no-repeat;
	cursor: pointer;
	display: inline;
	height: 29px;
	position: absolute;
	right: -12px;
	top: -12px;
	width: 25px;
	z-index: 2000;
}
.simplemodal-data {
	padding: 20px;
}



/*------------------------------------*\
    IMAGES
\*------------------------------------*/




/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}
@media only screen and (max-width:768px) {
    .mobile-nav-btn {
        display: block;
    }
    .header .hot-bar-container div {
        display: none;
    }
    .header .hot-bar-container div {

    }
    .header nav {
        width: 100%;
    }
        header ul.menu {
            display: none;
        }
        .header nav.nav > ul > li ul {
            position: relative;
            left: 0;
            width: 100%;
            display: none;
        }
		.header nav > ul > li:hover ul li {
			padding:0;
		}
		
    .home .actions-container {
        position:relative;
    }
    .home .actions-container li  {
        width: 33.3333%;
        width: calc( 100% / 3);
        float: left;
    }

}
@media only screen and (max-width:480px) {
	.footer section.group >div {	
		width: 100%;
		float: none;
		marign: 0 auto;
		text-align:center;
	}
    .home .callouts-container > div,
    .home .sidebar-callouts-container,
    .home .tabbed-feeds-wrapper  {
        width: 100%;
    }
	form label {
		width: 100%;
		display:block;
	}
	form.jqtransformdone label {
		width:auto;
	}

}


@media only screen and (max-width:440px) {
	.home .actions-container li   {
		width: 100%;
		float: none;
	}

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
